<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        a {
            text-decoration: underline;
            color: black;
            font-size: 20px;
            color: blue;
        }

        a:hover{
            color: red;
        }
    </style>
</head>
<body>
    <h1>Bio Page</h1>
    <br>
    <p>My name is Virajit.</p>
    <p>I am 21 years old.</p>
    <p>I am a software engineer who likes to read, swim, and play table tennis.</p>
    <br>
    <a href="/">Go back to home</a>

</body>
</html>